<!DOCTYPE html>
<html>
<head>
    <title>Landing Page</title>
</head>
<body>
    <h2>Welcome to the Blog Website</h2>
    <ul>
        {% for blog in blogs %}
            <li>
                <a href="{% url 'blog_detail' blog.id %}">{{ blog.title }}</a>
                {% if blog.image %}
                    <img src="{{ blog.image.url }}" alt="{{ blog.title }}" style="max-width: 200px;">
                {% else %}
                    <p>No image available</p>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
</body>
</html>