{% extends 'blog/Base.html' %}
{% block title %}Blog List{% endblock %}
{% block content %}
    <h2>Blog List</h2>
    <div class="blog-container">
        {% for blog in blogs %}
            <div class="blog-item">
                <a href="{% url 'blog:blog_detail' blog.id %}">{{ blog.title }}</a>
                <p>
                {% if blog.image %}
                    <img src="{{ blog.image.url }}" alt="{{ blog.title }}" style="max-width: 200px;">
                {% else %}
                    <p>No image available</p>
                {% endif %}
                </p>
                <p>{{ blog.caption }}</p>
            </div>
        {% endfor %}
    </div>
    <a href="{% url 'blog:blog_create' %}">Create New Blog</a>
{% endblock %}